{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 p-5">
    <h3 class="text center">Add Category Details</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} <!--it is a security feature of django -->
        <div class="mb-3">
  <label class="form-label">Category name</label>
  <input type="text" class="form-control" name="n" placeholder="Enter Category ">
        </div>
        <div class="mb-3">
  <label class="form-label">Image</label>
  <input type="file" class="form-control" name="i" >
        </div>
        <div class="mb-3">
  <label class="form-label">Description</label>
  <textarea class="form-control" name="d" ></textarea>
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary text-light px-4">
        </div>
    </form>
</div>
{% endblock %}